/instances
/solver
/solver_heuristic
/stride-downloads
/stride-logs
/.vscode
/Makefile
/tmp
/solver_exact
/.codex
/solver_h_non_random
/MAF2Approx
computational complexity of rspr distance.pdf
Computing Maximum Agreement Forests without.pdf
.gitignore
Fast FPT Algorithms for Computing Rooted.pdf
duality based 2 approx.pdf
Fixed-Parameter-Algorithms-for-Maximum-Agreement-Forests.pdf
s10479-021-04352-1.pdf
split or decompose exact.pdf
/caseautomation
/clusterreduction
/Espalier
/random_spr_walk
/rmafkernel
/rspr
/spr_neighbors
/TBRDist